
.ButtonGroup {
  padding: 10px;
}

.ButtonGroup > * {
  margin: 10px;
}

.FormField {
  padding: 20px !important;
}

.SelectWrapper {
  padding-bottom: 25px !important;
}

.SelectWrapper > div {
  padding-bottom: 25px !important;
}

p.Error {
  color: red;
}

p.Warning {
  color: yellow
}
